@model CarDealership.UI.Models.MakesViewModel

@{
    ViewBag.Title = "Makes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <h2>Makes</h2>
        @using (Html.BeginForm("Makes", "Admin", FormMethod.Post, new { style = "border: 3px solid black; margin-top: 1em; margin-bottom: 1em" }))
        {
        <div class="row" style="margin: 1em;">
            <div class="col-8">
                <div class="row">
                    <label class="col-2 col-form-label">New Make</label>
                    <div class="col-5">@Html.TextBoxFor(m => m.NewMake.Name, new { @class = "form-control" })</div>
                    <div class="col-5"><button class="btn btn-primary">Save</button></div>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Date Added</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var make in Model.Makes)
            {
                <tr>
                    <td>@make.Name</td>
                    <td>@make.DateAdded.ToString("d")</td>
                    <td>@make.UserEmail</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>