@model CarDealership.UI.Models.PasswordChangeViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Change Password</h2>
</div>
<div>
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        <div>
            <label>Password</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div>
            <label>Confirm Password</label>
            @Html.PasswordFor(m => m.PasswordConfirm, new { @class = "form-control" })
        </div>
        <button type="button" class="btn btn-primary" style="margin-top: 1em;">Save</button>
    }
</div>