<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=DESKTOP-PHJSHSB;Database=GuildCarsTest;User Id=LocalhostAdmin;Password=password123;"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="Mode" value="PROD" />
		<!-- QA = in memory repo | PROD = database -->
	</appSettings>
</configuration>