
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Reports</h2>

    <div style="margin-top: 1em;">
        @Html.ActionLink("Inventory Report", "Inventory")
    </div>
    <div style="margin-top: 1em;">
        @Html.ActionLink("Sales Report", "Sales")
    </div>
</div>

